flows/flows_01.json
[
    {
        "id": "6f4d2f31.30929",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8dbf3ab3.ada888",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "a651f66.f6fb008",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "a651f66.f6fb008",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6326e475.ab2c2c",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "f62cdaf7.9999a8",
        "type": "ui_tab",
        "z": "",
        "name": "Room",
        "icon": "tv",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a89573c8.9e42e",
        "type": "ui_tab",
        "z": "",
        "name": "Garden",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "697db347.8b572c",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "f62cdaf7.9999a8",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "80aafa42.e7ec18",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "f62cdaf7.9999a8",
        "order": 2,
        "disp": true,
        "width": 5
    },
    {
        "id": "b1dd30b0.623dc",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "a89573c8.9e42e",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "c70ec881.e24ea8",
        "type": "ui_colour_picker",
        "z": "6f4d2f31.30929",
        "name": "",
        "label": "",
        "group": "b1dd30b0.623dc",
        "format": "hex",
        "outformat": "string",
        "showSwatch": true,
        "showPicker": false,
        "showValue": false,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "false",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "a1c359f6.7d1808"
            ]
        ]
    },
    {
        "id": "cc8c6bfc.2ae6c8",
        "type": "ui_switch",
        "z": "6f4d2f31.30929",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "8dbf3ab3.ada888",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 110,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "b7a65e0f.5a638",
        "type": "ui_slider",
        "z": "6f4d2f31.30929",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "80aafa42.e7ec18",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": 0,
        "max": 10,
        "step": 1,
        "x": 110,
        "y": 220,
        "wires": [
            [
                "bc3cc593.613e28"
            ]
        ]
    },
    {
        "id": "bc3cc593.613e28",
        "type": "ui_text",
        "z": "6f4d2f31.30929",
        "group": "80aafa42.e7ec18",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 290,
        "y": 220,
        "wires": []
    },
    {
        "id": "a1c359f6.7d1808",
        "type": "ui_gauge",
        "z": "6f4d2f31.30929",
        "name": "",
        "group": "b1dd30b0.623dc",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 300,
        "y": 300,
        "wires": []
    }
]