flows/flows-power3.json
[
    {
        "id": "6384245e.2a61dc",
        "type": "tab",
        "label": "Power",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4cc798ed.ac9ca8",
        "type": "ui_gauge",
        "z": "6384245e.2a61dc",
        "name": "",
        "group": "20c3d14f.27d31e",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Power Now",
        "label": "units",
        "format": "{{value}} W",
        "min": 0,
        "max": "5000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 150,
        "y": 300,
        "wires": []
    },
    {
        "id": "a06fb8fe.dce808",
        "type": "ui_text",
        "z": "6384245e.2a61dc",
        "group": "20c3d14f.27d31e",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Home Usage Today",
        "format": "{{msg.payload}} kW",
        "layout": "row-spread",
        "x": 170,
        "y": 360,
        "wires": []
    },
    {
        "id": "6196e31b.1bd3fc",
        "type": "ui_chart",
        "z": "6384245e.2a61dc",
        "name": "",
        "group": "20c3d14f.27d31e",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "1 Minute Data",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "bezier",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "60",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 160,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "26c8b9cf.3c3cd6",
        "type": "ui_chart",
        "z": "6384245e.2a61dc",
        "name": "",
        "group": "20c3d14f.27d31e",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Hourly Data",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "bezier",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 150,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "edc64555.42b1f8",
        "type": "ui_text",
        "z": "6384245e.2a61dc",
        "group": "57b7fec6.de2f8",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Power Generated Today",
        "format": "{{msg.payload}} kW",
        "layout": "row-spread",
        "x": 550,
        "y": 360,
        "wires": []
    },
    {
        "id": "94b8a6bf.d7c688",
        "type": "ui_gauge",
        "z": "6384245e.2a61dc",
        "name": "",
        "group": "57b7fec6.de2f8",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Power now",
        "label": "units",
        "format": "{{value}} W",
        "min": 0,
        "max": "3500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 510,
        "y": 300,
        "wires": []
    },
    {
        "id": "76e5541f.c0317c",
        "type": "ui_chart",
        "z": "6384245e.2a61dc",
        "name": "",
        "group": "57b7fec6.de2f8",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "1 Minute Data",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "bezier",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "60",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 520,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "75d5f92f.9b1f78",
        "type": "ui_chart",
        "z": "6384245e.2a61dc",
        "name": "",
        "group": "57b7fec6.de2f8",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Hourly Data",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "bezier",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 510,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "8257cf03.4c6f9",
        "type": "inject",
        "z": "6384245e.2a61dc",
        "name": "",
        "topic": "power",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 170,
        "y": 40,
        "wires": [
            [
                "31282cb6.4de8c4",
                "9b15c68b.6aec08"
            ]
        ]
    },
    {
        "id": "e9c05e3c.9a678",
        "type": "debug",
        "z": "6384245e.2a61dc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 460,
        "y": 180,
        "wires": []
    },
    {
        "id": "31282cb6.4de8c4",
        "type": "function",
        "z": "6384245e.2a61dc",
        "name": "Random Number Generator",
        "func": "rnd = Math.round(Math.random() * 5000);\n// node.error(rnd);\nmsg.topic = \"Consumption\";\nmsg.payload = rnd;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 180,
        "y": 100,
        "wires": [
            [
                "4cc798ed.ac9ca8",
                "6196e31b.1bd3fc",
                "e9c05e3c.9a678",
                "8b8f9a46.d62c78",
                "26c8b9cf.3c3cd6"
            ]
        ]
    },
    {
        "id": "8b8f9a46.d62c78",
        "type": "ui_template",
        "z": "6384245e.2a61dc",
        "group": "e2573d69.e6eb8",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 140,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "9b15c68b.6aec08",
        "type": "function",
        "z": "6384245e.2a61dc",
        "name": "Pseudo-random",
        "func": "msg.topic = \"Generation\";\nmsg.payload = 500 + (msg.payload % 3500)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 100,
        "wires": [
            [
                "6ffafba2.b96014",
                "94b8a6bf.d7c688",
                "76e5541f.c0317c",
                "75d5f92f.9b1f78",
                "6196e31b.1bd3fc",
                "26c8b9cf.3c3cd6"
            ]
        ]
    },
    {
        "id": "6ffafba2.b96014",
        "type": "debug",
        "z": "6384245e.2a61dc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 750,
        "y": 180,
        "wires": []
    },
    {
        "id": "20c3d14f.27d31e",
        "type": "ui_group",
        "z": "",
        "name": "Home Power Usage",
        "tab": "77d8e4cb.ea028c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "57b7fec6.de2f8",
        "type": "ui_group",
        "z": "",
        "name": "Solar Power Generation",
        "tab": "77d8e4cb.ea028c",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e2573d69.e6eb8",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "cd537c20.a4a56",
        "order": 2,
        "disp": true,
        "width": 6
    },
    {
        "id": "77d8e4cb.ea028c",
        "type": "ui_tab",
        "z": "",
        "name": "Power",
        "icon": "power",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "cd537c20.a4a56",
        "type": "ui_tab",
        "z": "",
        "name": "Room",
        "icon": "tv",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]